.bottom-nav {
    height: 60px;
    z-index: 1030;
}

.bottom-nav .nav-item {
    flex: 1;
    text-align: center;
}

.bottom-nav i {
    transition: 0.2s;
}

.bottom-nav i:hover {
    transform: scale(1.2);
}